*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
  color: #424242;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  padding: 10px;
  max-width: 600px;
  width: 100%;
}

form h1{
  margin-bottom: 20px;
}